<main>
  <!--Main layout-->
  <div class="container">
      <!--First row-->
      <p id="notice"><%= notice %></p>
      <div class="row wow fadeIn" data-wow-delay="0.2s">
          <div class="col-md-12">
              <div class="jumbotron">
                  <%= sync partial: 'order_card', resource: @order %>
              </div>
          </div>
      </div>
      <!--/.First row-->

      <hr class="extra-margins">

      <div class="text-center">
        <p>Pickup in Room 313, CHBE Building. Cash Only.</p>
        <%= link_to "Track My Order", orders_path, :class => 'btn btn-primary' %>
      </div>

  </div>
  <!--/.Main layout-->

</main>
